@charset "utf-8";
/* CSS Document */
htm，body{ margin:0;
     padding:0;}
#zero{width:1000px;
      margin:auto;}
.one{width:1020px;
	border:1px solid #CCC;}	 
.one a{padding:80px;
	   text-decoration:none;
	   color:black;}
.one a:hover{color:#3CF;}

.two{border:1px solid #CCC;
     width:1020px;}
.two img{ margin:8px;}	        
.two img:first-child{position:relative;
                left:200px;}
.two p{font-family:"楷体";
         font-size:22px;}
.two a{text-decoration:none;
         color:#000;}		 					   	       
.two a:hover{color:#3CF;}
